.page {
  :global(.TableCell) {
    &.phase {
      flex-grow: 0.5;
    }

    &.node {
      flex-grow: 0.8;
    }

    &.ip {
      flex-grow: 0.6;
    }

    &.restarts {
      flex-grow: 0.3;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
