.page {
  :global(.TableCell) {
    &.gpus {
      flex-grow: 0.3;
    }

    &.free {
      flex-grow: 0.3;
    }

    &.model {
      flex-grow: 0.6;
    }

    &.vfio {
      flex-grow: 0.5;
    }

    &.condition {
      flex-grow: 0.7;
    }

    &.status {
      flex-grow: 1.5;
    }

    &.age {
      flex-grow: 0.3;
    }
  }
}
